In [4]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [6]:
nfl_frame = pd.read_clipboard()
print nfl_frame

#calls columns of the table
nfl_frame.columns
nfl_frame.Team
nfl_frame['First NFL Season']

DataFrame(nfl_frame, columns=['Team','Pct.','Won'])

   Rank                  Team  Won  Lost  Tied   Pct.  First NFL Season  \
0     1         Chicago Bears  741   555    42  0.570              1920
1     2        Dallas Cowboys  480   364     6  0.568              1960
2     3     Green Bay Packers  720   547    37  0.566              1921
3     4        Miami Dolphins  429   335     4  0.561              1966
4     5  New England Patriots  462   381     9  0.548              1960

  Total Games   Division
0       1,338  NFC North
1         850   NFC East
2       1,304  NFC North
3         768   AFC East
4         852   AFC East

                   Team   Pct.  Won
0         Chicago Bears  0.570  741
1        Dallas Cowboys  0.568  480
2     Green Bay Packers  0.566  720
3        Miami Dolphins  0.561  429
4  New England Patriots  0.548  462

In [7]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [9]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North

In [10]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [13]:
nfl_frame.ix[1]

Rank                             2
Team                Dallas Cowboys
Won                            480
Lost                           364
Tied                             6
Pct.                         0.568
First NFL Season              1960
Total Games                    850
Division                  NFC East
Name: 1, dtype: object

In [14]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [15]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium

In [16]:
nfl_frame['Stadium'] = np.arange(5)

In [17]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4

In [18]:
stadium_array = np.array(['dick stad', 'limp dick stad', 'big dick stad', 'quad dick stad','five dick stad'])
nfl_frame['Stadium'] = np.arange(stadium_array)

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('S14') dtype('S14') dtype('S14')

In [21]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"], index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [24]:
nfl_frame['Stadium'] = stadium_array

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,dick stad
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,limp dick stad
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,big dick stad
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,quad dick stad
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,five dick stad

In [26]:
del nfl_frame['Stadium']

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [28]:
data = {'City':['SF','LA','NYC'],'Population':[83700,3880000,8400000]}

In [29]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF       83700
1   LA     3880000
2  NYC     8400000

In [31]:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True